
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Space out content a bit */
body {

  font-family: 'Open Sans Condensed', sans-serif;

}
h1{
  font-family: 'Dosis', sans-serif;
  font-size:3em;
}

h2{
  font-size:2em;
}

.container-fluid{
  width:100%;
}




/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;

}

/*.landing-top{

  height:100%;
  width:100%;
  background-color: #201b56;
  background-color: -webkit-radial-gradient(#305677 80%, #1d3344 20% );
  background-color: -o-radial-gradient(#305677 80%, #1d3344 20% );
  background-color: -moz-radial-gradient(#305677 80%, #1d3344 20%) ;
  background-color: radial-gradient(#305677 80%, #1d3344 5% );

}*/

.landing-top{
  height:600px;
  width:100%;
  background-color: #231f55;
}


.logo{
  left:20%;
  position:relative;
  top:90px;
}

.landing-words{
  top:100px;
  position:relative;

}
.main_heading{
  color:white;
  font-weight:bold;
  position:relative;
  left:20%;
  top:100px;
}
.btn{
/*position:relative;
top:200px;
float:left;
right:300px;*/
border:white solid 1px;
background-color:none;
position:absolute;
padding:5px;
border-radius:2px 2px 2px 2px;
}

.btn1{
  left:20%;
  position:relative;
  top:130px;
}
.btn2{
  left:20%;
  position:relative;
  top:130px;
}


a{
  color:white;
  text-decoration:none;
}
a:hover{
  color:#563d7c;
}




.nav-two{
  width:100%;
  height: 100px;
  position:relative;
}



.ion-navicon-round{
  color:white;
  margin-top:2em;
  position: fixed;
  top: 50px;
  right:1px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  transform: scale(1.5,1.5);
  /*transition: background-color 300ms ease*/
  vertical-align: center;
  z-index: 1;
}

.hidden-nav-1 span{
  color:white;
}

.nav-box{
  position: fixed;
  top:0;
  right:40px;
  width:150px;
  height:150px;
  background-color:#404077;
  display:none;
}
.hidden-nav-1{
  display:none;
  position:fixed;
  right:120px;
  top:170px;
  transform: scale(1.5,1.5);
  line-height: 2em;
  cursor:pointer;
  z-index: 1;
}


.wrapper{
  height:350px;
  position:relative;
}

.wrapper p{
  text-align:center;
  padding-top:30px;
  font-size:1.2em;
}

.wrapper h1{
  text-align:center;
  padding-top:50px;
  font-weight:bold;
  margin-bottom:30px;
}

.wrapper-2, .wrapper-3 h1{
  color:white;
}





.btn3{
  height:50px;
  width:150px;
  margin-top:-25px;
  margin-left:-75px;
  left:50%;
  top:50%;
  position:absolute;
  display:table;
}

.wrapper-2 a{
  font-size:1.5em;
  text-decoration:none;
  display:table-cell;
  vertical-align:middle;

}

.wrapper-3 a{
  font-size:1.5em;
  text-decoration:none;
  display:table-cell;
  vertical-align:middle;

}

p{
  line-height:1.5em;
}

.wrapper-3{
  background-image:url(../images/oil-painting-me2.jpg);
  height:400px;
}
.wrapper-2{
  background-image:url(../images/bloc_jams_bg.jpg);

  height:400px;
  }

section{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;

}
/*.hidden-nav-1:hover + .hidden-nav-2{
  right:200px;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  opacity:1;
}*/

/*.ion-ios-home:hover + .home-active{
  right:200px;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  opacity:1;
}

.ion-ios-email:hover + .contact-active{
  right:200px;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  opacity:1;
}*/

.nav-rectangle{
  width:150px;
  height:350px;
  background-color: #404077;
  position:fixed;
  top:0px;
  right:40px;
  display:none;
}

/*.hidden-nav-2{

  line-height: 3em;
  position: fixed;
  top:140px;
  right:160px;
  color:white;
}*/

.home-active{
  position: fixed;
  top:150px;
  right:160px;
  display:none;
}

.portfolio-active{
  position: fixed;
  top:200px;
  right:160px;
  display:none;
}

.profile-active{
  position: fixed;
  top:250px;
  right:160px;
  display:none;
}

.contact-active{
  position: fixed;
  top:300px;
  right:160px;
  display:none;
}

.hidden-nav-2 a{
  background-color:#404077;
  margin:2px;
  padding:10px;


}

.navigation{
  z-index:1;
}

//.ion-ios-home:hover .home-active{
 // opacity:1;
//}



.ion-navicon-round:hover{
  color:#BB31B0;
}



ul li{
    list-style-type: none;
}



.colored_nav{
  background-color:#305677;
  height:80px;
}
/*.container-narrow > hr {
  margin: 2rem 0;
}*/

.portfolio-scroll{
  height:250px;
  width:100%;
  background-color:#404077;
  top:450px;
  position:relative;

}

.portfolio-scroll h1{
  text-align:center;
  color:white;
  top:50%;
  position:relative;
  bottom:50%;
}


/* Supporting marketing content */



  @media (max-width:768px) {
    .main_heading{
      font-size: 2em;
    }
  }

  @media (max-width:320px) {
    .main_heading{
      font-size: 0.7em;
    }
  }
