

.portfolio-top{

  height:350px;
  width:100%;
  /*background-image: url("../images/oil-painting-me2.jpg");*/
  background-color: #201b56;
}

.portfolio{

  margin:0 auto;
}

.portfolio h2{
  text-align:center;
  margin-bottom:20px;
  border-bottom:5px solid #201b56;
  color:#201b56;
  padding:10px;
}

.port-img{
  height:250px;

}

.like-simon{
  margin-bottom:20px;
}

.grid{
  margin:0 auto;
}
.grid-sizer,
.grid-item {
 width:33.33%;


 }

 .grid-item{
   float:left;
 }

 .grid-item img {
  display: block;
  max-width: 100%;
}

 .clearfloat{
   clear:both;
 }

h1{
  font-size: 4em;
  position:relative;
  color:white;
  text-align: center;
  top:150px;
  margin-bottom:400px;
  }

  .image-div{
    text-align: center;
    width: 429px;
  }


.image-div img{
  display: block;
  margin: 0 auto;
}

.port-img:hover{
  opacity:0.3;
}

.text{
  display:none;
  background-color: #201b56;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
}

.play-img{
  width:300px;
}
.pause-img{
  width:300px;
}
.full-img{
  width:500px;
}

a{
  color:#158c37;
}

.words{
  float:left;
}

.modal-images{
  max-width:100%;
}

a{
  color:white;
}

.card h5 a{
  text-decoration:none;
  font-size:1.5em;
}

.card-header{
  background-color:#201b56;
  height:70px;
}

.card{
  margin-top:none;
}

.card-block a{
  color:#158c37;
}

.top-img{
  width:500px;
  left:50%;
  margin-left:-250px;
  position:relative;
}

ul{
  line-height:1.5em;
}

@media (max-width:768px) {
  .text{
    opacity:1;
  }

}
/*
@media (max-width:900px){
  .port-img{
    height:100px;
  }
}*/
