

.portfolio-top{

  height:350px;
  width:100%;
  background-image: url("../images/oil-painting-me2.jpg");
}

.portfolio{
  margin-top:20px;
}

.port-img{
  height:300px;

}

h1{
  font-size: 4em;
  position:relative;
  color:white;
  text-align: center;
  top:150px;
  margin-bottom:400px;
  }

  .image-div{
    text-align: center;
    width: 429px;
  }


.image-div img{
  display: block;
  margin: 0 auto;
}

.port-img:hover{
  opacity:0.3;
}

.text{
  display:none;
  background-color: #201b56;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
}

.play-img{
  width:300px;
}
.pause-img{
  width:300px;
}
.full-img{
  width:500px;
}

a{
  color:#158c37;
}

.words{
  float:left;
}

.modal-images{
  max-width:100%;
}

@media (max-width:768px) {
  .text{
    opacity:1;
  }
}
